#navbar {
  background-color: rgb(245, 245, 245);
  margin-bottom: 15px;
}

.modal {
  top: 25% !important;
}

ul.pagination {
  margin-top: 0;
  margin-bottom: 0;
}

#content {
  margin-bottom: 188px;

  #DataTable {
    .form-group {
      margin: -2px 0 -2px 0;

      .form-control {
        height: 24px;
        font-size: 14px;
        padding: 0px;
      }
    }
  }

  .chat {
    height: 343px;
    overflow-y: auto;

    .bubble {
      background-color: #d9edf7;
      border-radius: 5px;
      box-shadow: 0 0 6px #B2B2B2;
      display: inline-block;
      padding: 10px 18px;
      position: relative;
      vertical-align: top;
      clear: both;

      .form-group {
        display: inline-block;
        margin: -5px 0;

        .form-control {
          font-size: 14px;
        }
      }
    }

    .bubble::before {
      background-color: #d9edf7;
      content: "\00a0";
      display: block;
      height: 16px;
      position: absolute;
      top: 11px;
      transform:             rotate( 29deg ) skew( -35deg );
      -moz-transform:    rotate( 29deg ) skew( -35deg );
      -ms-transform:     rotate( 29deg ) skew( -35deg );
      -o-transform:      rotate( 29deg ) skew( -35deg );
      -webkit-transform: rotate( 29deg ) skew( -35deg );
      width:  20px;
    }

    .me {
      float: left;
      margin: 5px 45px 5px 20px;
    }

    .me::before {
      box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
      left: -9px;
    }

    .you {
      float: right;
      margin: 5px 20px 5px 45px;
    }

    .you::before {
      box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
      right: -9px;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 5px;
  background-color: rgb(245, 245, 245);
  border-top: 1px solid rgb(229, 229, 229);
  z-index: 100;

  .progress {
    position: absolute;
    width: 700px;
    top: 54px;
    margin: 0px 25px 0px 25px;
  }

  .player {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
  }

  button.player {
    outline: none;
    border: 0;
    background: transparent;
    .glyphicon-play, .glyphicon-pause {
      font-size: 25px;
    }
  }

  div.player {
    input[type="range"] {
       display: inline;
       width: 80px;
       margin: auto 5px auto 5px;
    }

    input {
       display: inline;
       width: 100px;
       margin: auto 5px auto 5px;
    }
  }

  .player .form-group {
    margin-bottom: auto;
  }

  .nav {
    margin: 5px auto;
    li {
      a {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }

  table {
    margin-bottom: 0 !important;

    tbody {
      display: block;
      height: 142px;
      overflow-y: auto;
      overflow-x: hidden;

      tr.active > td {
        background: rgb(231, 231, 231) !important;
      }

      td {
        width: 120px;
        .form-group {
          margin-bottom: 0;

          .form-control {
            font-size: 14px;
          }
        }
      }
    }
  }
}
